*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
}

.container{
    background-color: rgb(222, 222, 222);
    border-radius: 50px;
    padding: 0% 5% 1% 5%;
}

.container img{
    width: 250px;
    margin-bottom: 20%;
    margin-top: -20%;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
}

fieldset input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid brown;
    background-color: transparent;
    transition: all .3s;
}
fieldset input::placeholder{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
fieldset input:hover{
    transform: scale(1.02);
    transition: all .3s;
}
fieldset input:hover::placeholder{
    color: rgb(255, 19, 19);
    font-size: 16px;
    transition: all .4s;
}

.btnEntrar{
    background-color: rgb(253, 110, 38);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    margin-top: 10%;
}
.btnEntrar:hover{
    color: white;
    transition: all .5s;
}

.dark-mode{
    color: white;
    background-color: rgb(84, 83, 83);
}

.dark-mode > .container > form > fieldset > input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.dark-mode > .container{
    background-color: rgb(67, 67, 67);
    border-radius: 50px;
    padding: 0% 5% 1% 5%;
}

.dark-mode > .container > form > fieldset > input:hover::placeholder{
    color: rgb(255, 19, 19);
    font-size: 16px;
    transition: all .4s;
}


.sun-button{
    margin-bottom: 30%;
    margin-left: 300%;
    width: 30%;
    align-items: center;
}






