body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color:#f8f8f8 ;
}
legend {
    font-weight: bold;

}
label{
    display: block;
    cursor: pointer;
}
input{
    width: 20em
} 